<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ericson Dashboard</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    <link rel='stylesheet'  href="{% static '/css/registration.css'%}">

    
    
</head>

<body>
    <!-- =============== Navigation ================ -->
    {% include 'app/navigation_bar.html'%}
    {% block content%}
    {% endblock %} 

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <h2>Add an Employee</h2>
                </div>

                <div class="user">
                    <img src="assets/imgs/user.png" alt="">
                </div>
            </div>

            <!-- ======================= Cards ================== -->
         

            <!-- ================ Order Details List ================= -->
            <div class='centered'>
                <div class="wrapper">
                    <div class="container">
                       
                        
                    </div>                   
                </div>
            </div>
        </div>
    

    <!-- =========== Scripts =========  -->
    <script src="{% static '/js/script.js'%}"></script>
   
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>